@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    padding-top: 65px;
    font-family: 'Muli', sans-serif;
    background-color: #e8e8e8;
    color: #212529;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #34495e;
}

.container-header, .container-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 150px;
}


/*------barra de pesquisa e perfil------*/
.group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    height: 65px;
}

.icon-header:hover {
    color: #2dcc6f;
}

.search {
    position: relative;
    margin: 0 15px;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    background-color: #2b3a49;
}

#iSearch {
    padding: 8px 32px 8px 12px;
    width: 100%;
    height: 30px;
    font-size: 0.85rem;
    color: #fff;
    border-radius: 50px;
    border: 1px #b4b4b475 solid;
    background-color: #2b3a49;
    outline: none;
    transition: 0.2s;
}

::-webkit-input-placeholder {
   color: #e8e8e88c;
}
 
:-moz-placeholder { /* Firefox 18- */
  color: #e8e8e88c; 
}
 
::-moz-placeholder {  /* Firefox 19+ */
  color: #e8e8e88c;
}
 
:-ms-input-placeholder {  
  color: #e8e8e88c; 
}


 #iSearch:focus {
    border: 2px #2dcc6f solid;
}

.search-btn {
    position: absolute;
    padding: 0;
    width: 26px;
    height: 26px;   
    top: 2px;
    right: 6px;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #2b3a49;
    cursor: pointer;
}

.btn-header {
    display: flex;
    align-items: center;
    height: 50%;
    cursor: pointer;
}

.btn-header i {
    font-size: 1rem;
    transition: 0.1s;
}

.btn-header:hover > i{
    color: #2dcc6f;
}

.notific { margin-right: 20px; }

.menssenger { margin-right: 15px; }

.profile-box-img-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 120px;
    border-left: 1px #b4b4b475 solid;
}

.profile-link-img-header {
    display: block;
    overflow: hidden;
    margin-right: 3px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #999;
}
/*----dropdown-menu----*/
.dropdown-menu {
    position: absolute;
    float: right;
    padding: .5rem 0;
    margin: .125rem 0 0;
    min-width: 10rem;
    top: 50px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    z-index: 1000;
    
}
.dropdown-item {
    display: block;
    padding: .25rem 1.5rem;
    width: 100%;
    color: #3a3b45;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    transition: 0.1s;
}
hr {
    margin-bottom: 0.2rem;
    border: 1px #b4b4b475 solid;
    border-top: none;
}
.dropdown-item:hover {
color: #2dcc6f;   
background-color: #f7f7f7;
}
/*------fim barra de pesquisa e perfil------*/



/*--------menu mobile--------*/
.menu-mobile {
    display: none;
    position: sticky;
    width: 100%;
    height: 40px;
    top: 0;
    border-top: 2px #fff solid;
    border-bottom: 1px #b4b4b475 solid;
    background-color: #fff;
}

.nav-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bar-mobile {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 650px;
}

.bar-mobile li {
    display: inline;
}

.bar-mobile li a {
    padding: 6px 0;
    color: #34495e;
    transition: 0.1s;
    font-size: 1.5rem;
}

.bar-mobile li a:hover {
    color: #2dcc6f;
}
/*--------fim menu mobile--------*/


.container-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 4px;
}


/*--------section perfil e nav--------*/
.aside-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    width: 220px;
    border-radius: 4px;
}

.profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 25px 10px;
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.profile-box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 100%;
}

.profile-link-img {
    display: block;
    overflow: hidden;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #999;
    transition: 0.2s;
}

.profile-img {
    width: 100%;
    height: 100%;
}

.profile-box-info {
    margin-left: 10px;
    height: 55px;
}

.profile-name {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #212529;
}
.profile-name:hover {
    text-decoration: none;
    color: #212529;
}

.profile-course {
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: #999;
}

.nav-desk {
    position: sticky;
    padding-top: 5px;
    top: 66px;
    width: 100%;
    height: 170px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu-bar {
    padding: 8px 0;
    list-style-type: none;
}

.menu-bar li a {
    display: block;
    padding: 7px 25px;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
    color: #273747;
    transition: 0.1s;
}

.menu-bar a:hover {
    background-color: #f7f7f7;
    color: #2dcc6f;
}

.menu-bar li i {
    margin-right: 5px;
    font-size: 1.3rem;
    
}
/*-------- fim section perfil e nav--------*/



/*--------main global--------*/
.content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 25px;
    margin: 0 auto 0 15px;
    width: 70%;
    background-color: #fff;
    border-radius: 4px;
}

.titles {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.05rem;
}
/*--------main global--------*/



/*------página caronas e eventos------*/
.btn-action {
    min-width: 135px;
    height: 27px;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    color: #fff;
    border: none;
    background-color: #2dcc6f;
    cursor: pointer;
    transition: 0.1s;
}

.btn-action:hover {
    background-color: #25ad5f;   
}

.sub-main {
    padding: 13px 10px;
    margin: 15px 0;
}

.img-caronas-box {
    margin-bottom: 7px;
    width: 100%;
    height: 150px;
    background: url(../imagens/bg-car.png) center;
    background-size: cover;
}

.info-caronas i {
    font-size: 1.05rem;
    margin-right: 3px;
}

.form-create {
    display: none;
    padding: 5px 10px;
    border: 1px #b4b4b475 solid;
}

.form-create p {
    display: flex;
    justify-content: space-between;
}

#close {
    padding: 0;
    margin-bottom: 8px;
    margin-left: 95%;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #25ad5f;
    border: 1px #b4b4b475 solid;
    background-color: #fff;
}

.form-create #close:hover {  text-shadow: 0 0 7px; }

.form-create input { width: 50%; outline: none; }

.eventos-box, .caronas-box {
    width: 100%;
    border: 1px #b4b4b475 solid;
    border-radius: 2px;
}
.img-eventos-box {
    margin-bottom: 7px;
    width: 100%;
    height: 150px;
    background: url(../imagens/bg-calend.png) center;
    background-size: contain;
}
.img-eventos, .img-caronas {
    width: 100%;
    height: 100%;
}
.info-eventos, .info-caronas {
    margin-bottom: 10px;
    margin-left: 10px;
}
.title-eventos, .title-caronas {
    margin-bottom: 3px;
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    
}
.created-eventos, .created-caronas {
    margin-left: 2px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #999;
}
.p-eventos, .p-caronas {
    margin-bottom: 15px;
    color: #4d4d4d;
}
.sub-main .btn-action {
    margin-right: 10px;
    outline: none;
}
/*---------fim página caronas e eventos-------*/

.popup {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 15px;
    margin: auto;
    width: 500px;
    height: 180px;
    top: 0; bottom: 0;
    left: 0; right: 0;
    border-radius: 4px;
    border: 1px #b4b4b475 solid;
    background: #fff;
    box-shadow: 0 2rem 2rem 100vh rgba(58,59,69,.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.popup .btn-action {
    align-self: flex-end;
    position: relative;
    outline: none;
}
.popup p {
    width: 100%;
    height: 50px;
}

footer p.box-footer {
    padding: 0 0 5px;
    margin-left: 225px;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
}

footer p.box-footer a {
    color: #999;
}

/*-------media query-------*/
@media only screen and (max-width: 991px) {
    .dropdown-menu {
        width: 96vw;
        right: 0;
        left: auto;
    }
}

@media only screen and (max-width: 940px) {
    .container-header {
        width: 96%;
    }
    .container-body {
        width: 96%;
    }
    .content {
        width: 513px;
    }
}

@media only screen and (max-width: 768px) {
    body { padding-top: 65px; }
    
    header { position: absolute; }
    
    .logo {
        width: 125px;
    }

    .menu-mobile { display: block; }
    
    .container-header {
        width: 96%;
    }
    .container-body {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .menu-mobile {
        display: flex;
    }
    .content {
        margin-left: auto;
        margin-right: auto;
    }
    .sub-main { border-radius: 0; }
    
    .aside-content {
        display: none;
    }
    .popup {
        width: 80vw;
        bottom: 0;
    }
    footer p.box-footer {
        margin: 0 auto;
    }
    
}

@media only screen and (max-width: 441px) {
    .logo {
        width: 65px;
    }
    .info-eventos { margin-bottom: 0; }
    
    .sub-main .btn-action {
        margin-bottom: 7px;
    }
    .search { margin: 0 7px;}
    .notific { margin-right: 10px; }

    .menssenger { margin-right: 10px; }

    .profile-link-img-header { margin-right: 0;}
}








