.space{
    margin-top: 30px;
    margin-bottom: 60px;
}

.product_img{
    width: 30%
}

.btn_buy{
    margin-top: 60px;
}

.output{
    justify-content: center;
}

.container{
    background-image: url("img/madeira.jpg");
}